<header>
  <nav class="main-menu row">
    <div class="columns small-10 small-centered medium-10 large-8">
      <div class="row">
        <div class="columns small-4 medium-2">
          <img src="{{ "/img/logo.svg" | prepend: site.baseurl }}" alt="logo" />
        </div>
        <div class="columns small-8 medium-10">
          <ul class="menu">
            <li>
              <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
            </li>
            <li>
              <a href="{{ "/services/" | prepend: site.baseurl }}">Services</a>
            </li>
            <li>
              <a href="{{ "/producers/" | prepend: site.baseurl }}">Producers</a>
            </li>
            <li>
              <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
            </li>
            <li>
              <a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="header--row row">
    <div class="header--content column small-10 small-centered medium-10 large-8">
      <h1 class="upper">{{ site.title | escape }}</h1>
      <h2>Specialist in the Nordic market</h2>
    </div>
  </div>
</header>
