header {
	background: url('../img/wine-glass.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.header--row {
	@include absolute-center;
	width: 100%;
}

.header--content {
	background: rgba(255, 255, 255, .6);
	@include absolute-center;
	text-align: center;
}

main {
	padding-bottom: 1rem;
}

.contact {
	display: inline-block;
	vertical-align: top;

	@each $breakpoint, $gutter in $grid-column-responsive-gutter {
		$padding: rem-calc($gutter) / 2;

		@include breakpoint($breakpoint) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}
}

footer {
	background-color: #2C2C2C;
	color: #FFF;
	text-align: center;
}
