@charset "utf-8";

@import
	"foundation/foundation"
;

$body-background: #2C2C2C;

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;

.upper {
	text-transform: uppercase;
}

header {
	background-image: url('../img/wine-glass.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	backround-repeat: no-repeat;
	background-position: 40% 45%;
	padding-top: 1rem;
	padding-bottom: 7rem;
	position: relative;
}

.header--row {
}

.header--content {
	color: #fefefe;
	text-align: center;
}

.main-menu {
	margin-bottom: 5rem;
}

.menu {

	@include menu-base;
	@include menu-direction(vertical);
	float: right;

	@include breakpoint(medium up) {
		@include menu-direction(horizontal);
	}

	& > li > a {
		color: #fefefe;
	}
}

main {
	padding-bottom: 1rem;
}

.content {
	background: #fefefe;
}

.headline {
	padding: 4rem 0;
}

.feature {
	padding: 1rem 0;
	background: url('../img/grape.jpeg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	margin-bottom: 1rem;

	&__content {
		background-color: rgba(#2C2C2C, 0.75);
		color: #fefefe;
		padding: 1rem;
	}
}

.contact {
	display: inline-block;
	padding: 1rem 0;
	vertical-align: top;

	@each $breakpoint, $gutter in $grid-column-gutter {
		$padding: rem-calc($gutter) / 2;

		@include breakpoint($breakpoint) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}
}

footer {
	background-color: #2C2C2C;
	color: #FFF;
	padding: 1rem 0;
	text-align: center;
}
